.header {
    background-image: url(Assets/Background_Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 25px;
    text-align: center;
    color: black;
    font-size: 32px;
    border: black;
  }

.topnavbar {
overflow: hidden;
background-color: dimgrey;
}

.topnavbar a {
    float: left;
    color: wheat;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 18px;
}

.topnavbar a:hover {
    background-color: wheat;
    color: black;
}

.topnavbar a.active {
    background-color: greenyellow;
    color: white;
}

.selfintro{
    display: inline-block;
    width: 70%;
    padding-left: 55px;
}

p {
    padding-bottom: 25px;
}

h3, h4, ul {
    margin: 10%;
}

ul {
    margin-bottom: 10px;
}

.sidenavbar {
    width: 22%;
    float: right;
    
}

.points {
    background-color: whitesmoke;
}

.picture {
    width: 100%;
    margin-bottom: 20px;
}

.centre {
    text-align: center;
}

