.header {
    padding: 25px;
    text-align: center;
    background-image: url(Assets/Rainbow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    font-size: 32px;
    border: none;
  }
.body {
    background-image: url(Assets/Rainbow.jpg);
}
  .topnavbar {
    overflow: hidden;
    background-color: green;
}

.topnavbar a {
    float: left;
    color: violet;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 18px;
}

.topnavbar a:hover {
    background-color: blue;
    color: red;
}

.topnavbar a.active {
    background-color: yellow;
    color: yellowgreen;
}

.selfintro{
    background-image: url(Assets/Rainbow.jpg);
    display: inline-block;
    width: 70%;
    padding-left: 55px;
}

p {
    padding-bottom: 25px;
}

h3, h4, ul {
    margin: 10%;
}

ul {
    margin-bottom: 10px;
}

.sidenavbar {
    background-image: url(Assets/Rainbow.jpg);
    width: 22%;
    float: right;
    
}

.points {
    background-image: url(Assets/Rainbow.jpg);
    background-color: red;
}

.picture {
    width: 100%;
    margin-bottom: 20px;
}

.centre {
    text-align: center;
}

